#plb_{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: none;
    z-index: 100;
}
#plb_overlay{
    position: absolute;
    width: 100%;
    z-index: 200;
    background-color: #000000;
    opacity: 0.9;
      -moz-opacity: 0.9;
      filter: alpha(opacity=90);
}
#plb_player{
    position: relative;
    z-index: 300;
    text-align: center;
}
